@charset "utf-8";

/* 메인 */
.teacher-group {height:1580px; position:relative;}
.teacher-group h2 {display:block;margin:0 auto;max-width:1640px;padding:55px 20px 20px;text-align:center;color:#dfdfdf;font-size:60px;font-weight:100;}
.teacher-group h2 strong {color:#2b2e34;font-weight:100;background-color:#ffcd6c;}
.teacher-group .logo-text {color:#f8d057;}
.teacher-group .logo-text b {font-weight:500;}

.teacher-menu{position: relative;width:100%; min-height:250px;}
.teacher-menu .dep-1{position:relative;}
.teacher-menu .dep-1 li::before{content:""; display:block; position:absolute; left:0; width:calc((100% - 1510px) / 2); border-top:2px solid #fff; opacity:0.3;}
.teacher-menu .btn-dep-1{position:absolute; left:50%; font-size:24px; font-family: SCD; font-weight: 600; color:#fff; opacity: .3; overflow:hidden; height:85px; margin-left:-750px; transition:all .2s ease-out}
.teacher-menu .on .btn-dep-1{font-size:48px; opacity:1; padding-left:75px;}
.teacher-menu .on .btn-dep-1::after{left:0;}
.teacher-menu .dep-1 li.on::before{border-top:2px solid #f3b805; opacity:1;}
.teacher-menu .btn-dep-1::after{content:""; display:block; width:68px; height:53px; background:url(../../resources/images/common/key.png) no-repeat 0 0 / cover; position:absolute; top:15px; left:-68px; transition:all .2s ease-out}
.teacher-menu .n1 .btn-dep-1{top:30px;}
.teacher-menu .n2 .btn-dep-1{top:125px;}
.teacher-menu .n3 .btn-dep-1{top:170px;}
.teacher-menu .dep-1 .n1::before{top:72px;}
.teacher-menu .dep-1 .n2::before{top:167px;}
.teacher-menu .dep-1 .n3::before{top:212px;}
.teacher-menu .on .dep-2{display:block;}
.teacher-menu .dep-2{display:none; width:1070px; margin:0 auto; text-align:center; padding:30px 0 0;}
.teacher-menu .dep-2 button{height:80px; border-radius:40px; padding:10px 40px; font-size:30px; margin:0 12px 30px}

.btn-gold.type-more{width:250px; font-size:16px; color:#000; border-radius:20px; background: linear-gradient(-69deg,#e2a936, #a27623, #ffee92 50%, #f5c75f 80%, #e6b352);}
.btn-gold.type-more:focus,
.btn-gold.type-more:hover{color:#fff;background: linear-gradient(-44deg, #633f00,#674100 40%, #a46d00, #925f00);}

.btn-area.line{margin-top:30px;}
.btn-area.line .btn-gold{z-index:1; position:relative;}
.btn-area.line::after{content:""; display:block; position:absolute; width:50%; height:2px; background:linear-gradient(-90deg, rgba(248,208,87,0),rgba(248,208,87,1), rgba(248,208,87,0)); left:50%; top:50%; transform: translate(-50%,-50%);}

.teacher-list{width:100%;max-width:1480px;margin:30px auto 0;background:url(../../resources/images/main/swiper-bg.png) no-repeat 50% 0 / 100%; padding:40px 0 0; position: relative;}
.teacher-swiper{width:100%;max-width:1380px;margin:0 auto;}
.teacher-list .slick-prev{width:68px; height:68px; background: url(../../resources/images/common/arrow-swiper.png) no-repeat 0 0; left:-20px; position: absolute; top:50%; z-index: 2;}
.teacher-list .slick-next{width:68px; height:68px; background: url(../../resources/images/common/arrow-swiper.png) no-repeat 0 0; transform: rotate(180deg); right:-20px; position: absolute; top:50%; z-index: 2;}

.teacher-item {position:relative; width:285px;height:307px;border-radius:30px;border-bottom-left-radius:0;box-shadow:10px 10px 30px rgba(0,0,0,.3);background: linear-gradient(#fff, #ddd7d0); margin:100px auto 50px}
.teacher-item .photo{position:absolute; bottom:110px; left:0;}
.teacher-item .info{position:relative; padding:100px 25px 0; z-index: 1; font-size:16px; color:#000; line-height:1.3;}
.teacher-item .info dt{font-weight:600; font-size:30px; color:#000; text-align: right; padding:0 0 20px;}
.teacher-item .info dd{text-align: left; font-size:16px;}
.teacher-item .btn{display:inline-block; background-color:#292a2e; color:#fff; height:43px; border-radius:22px; padding:10px 28px; font-size:16px;}
.teacher-item .btn-area{width:100%; position:absolute; bottom:0; left:0; padding:15px 0 30px; text-align:center; }
.ico-matching{display:block; width:66px; height:65px; background: url(../../resources/images/common/ico-matching.png) no-repeat 0 0; position:absolute; top:0; right:30px;}


.ui-modal.ready.open.current:after{width:100%; height:100%;background:linear-gradient(-90deg, #1e1f22, #2e3036);}
.ui-modal.type-premium .ui-modal-wrap{width:100%; height:100%; background: transparent; box-shadow: none;}
.ui-modal.type-premium .ui-modal-header{width:100%; max-width:1600px; position:relative; z-index:2; margin:0 auto;}
.ui-modal.type-premium .ui-modal-cont{width:100%; max-width:1600px; position:relative; z-index:1; margin:0 auto; padding:110px 0 100px;}
.ui-modal.type-premium .ui-modal-header .logo{position:absolute; left:45px; top:45px; z-index: 10;}
.ui-modal.type-premium .tit h2{width:100%; text-align: center; font-size:60px; font-weight:100; color:#dfdfdf;}
.ui-modal.type-premium .logo-text {color:#292a2e; background:#f8d057; padding:0 10px;}
.ui-modal.type-premium .logo-text b {font-weight:500;}
.ui-modal .btn-close{display:inline-block;width:55px;height:55px;border:2px solid #fff;border-radius:50%;transform: rotate(45deg); position:fixed; left:50%; margin-left:705px; top:45px; z-index: 10;}
.ui-modal .btn-close:before,
.ui-modal .btn-close:after {content:'';display:block;position:absolute;background-color:#fff;left:50%;top:50%}
.ui-modal .btn-close:before {width:20px;height:2px;margin:-1px 0 0 -10px}
.ui-modal .btn-close:after {width:2px;height:20px;margin:-10px 0 0 -1px}

.leader-list{position:relative; width:100%; max-width:1500px; padding-top:50px; font-size:0; text-align: center; margin:20px auto; background:url(../../resources/images/main/swiper-bg.png) no-repeat 50% 0 / 100%}
.leader-list li{display:inline-block; margin:0 22px;}

.ui-modal.type-goldkey .ui-modal-wrap{width:100%; height:100%; background: transparent; box-shadow: none;}
.ui-modal.type-goldkey .ui-modal-header{width:100%; max-width:1600px; position:relative; z-index:2; margin:0 auto;}
.ui-modal.type-goldkey .ui-modal-cont{width:100%; position:relative; z-index:1; margin:0 auto; padding:110px 0 100px;}
.ui-modal.type-goldkey .ui-modal-header .logo{position:absolute; left:45px; top:45px; z-index: 10;}
.ui-modal.type-goldkey .tit h2{width:100%;  max-width:1600px; margin:0 auto 20px; text-align: center; font-size:40px; font-weight:100; color:#dfdfdf;}
.ui-modal.type-goldkey .tit h2 em{display:block; font-size:30px; font-weight:400;}
.ui-modal.type-goldkey .tit h2 strong{background:#f8d057; color:#2b2e34; padding:0 10px;}
.ui-modal.type-goldkey .logo-text {color:#f8d057;}
.ui-modal.type-goldkey .logo-text b {font-weight:500;}
.ui-modal.type-goldkey .teacher-menu .dep-2{width:1600px; padding:20px 0 0 240px; text-align: left;}
.ui-modal.type-goldkey .teacher-menu .btn-dep-1{font-size:32px}
.ui-modal.type-goldkey .teacher-menu .n2 .btn-dep-1{top:100px}
.ui-modal.type-goldkey .teacher-menu .dep-2 button{height:56px; border-radius:28px; padding:6px 20px; font-size:20px; margin:0 6px 10px}
.ui-modal.type-goldkey .teacher-menu .n1 .btn-dep-1 {top:10px}
.ui-modal.type-goldkey .teacher-menu .n2 .btn-dep-1 {top:90px}
.ui-modal.type-goldkey .teacher-menu .n3 .btn-dep-1 {top:170px}
.ui-modal.type-goldkey .teacher-menu .dep-1 .n1::before{top:55px}
.ui-modal.type-goldkey .teacher-menu .dep-1 .n2::before{top:135px}
.ui-modal.type-goldkey .teacher-menu .dep-1 .n3::before{top:215px}



.leader-info{position:relative; width:100%; max-width:1600px; margin:0 auto 370px;}
.leader-info .photo{position:absolute; right:50px; top:60px;}
.leader-info .group{position: relative;  padding:110px 70px 0;}
.leader-info .group h2{font-size:90px;font-weight:100;color:#fff; line-height:1.1;overflow: hidden;}
.leader-info .group h2 span{opacity:0.3;display:block; width:100%;}
.leader-info .group em{display:block; margin-top:-5px; float:left; font-size:60px; color:#ffe36f; font-weight:100;border-bottom:4px solid #fff28c; font-family: 'Noto Sans TC', sans-serif; padding-bottom:10px}
.leader-info .group p{font-size:36px; font-weight:500; color:#fff; line-height: 1.2; margin-top:20px;}
.leader-info .tag {position:relative; margin-top:40px; width:680px;}
.leader-info .tag span{display:inline-block;height:60px;border-radius:30px;border:2px solid #848484;font-size:24px;font-weight:600;color:#848484;line-height:58px;padding:0 28px;margin:0 10px 20px 0;}

.leader-info .chara{position:relative; margin:80px auto 80px; width:100%; max-width:1500px; overflow:hidden; display:flex; justify-content:center}
.leader-info .chara .line{display:block; flex:1; max-width:115px; width:100%; height:6px; background: url(../../resources/images/common/line-dot.png) repeat-x 0 0;margin:75px 30px 0;}
.leader-info .chara-item{flex:0; text-align: center; width:170px; position: relative; z-index: 1;}
.leader-info .chara-item .ico{display:inline-block; width:150px; height:150px; background:url(../../resources/images/common/ico-char.png) no-repeat 0 0;}
.leader-info .chara-item .txt{display:block; width:100%; font-size:21px; color:#fff; word-break: keep-all;}

.leader-info .btn-gold{position:relative; height:100px; border-radius:50px; padding:20px 85px; font-size:38px; margin:0; font-weight:500; font-family:'Noto Sans KR'; background: linear-gradient(-69deg,#e2a936, #a27623, #dda93e 70%, #ebbc4c 80%, #fdeaa6);}
.leader-info .btn-gold::before{content:""; display:block; width:250px; height:250px; background: url(../../resources/images/common/light.png) no-repeat 0 0; position:absolute; top:-90px;left:-112px; }
.leader-info .btn-gold:focus,
.leader-info .btn-gold:hover{color:#fff;background: linear-gradient(-44deg, #633f00,#674100 40%, #a46d00, #925f00);}

.article-box {max-width:1500px;margin:0 auto}
.article-box .section-a {margin:0 24px;border-radius:30px;background-color:#2e3036;box-shadow:0 -5px 10px rgba(0,0,0,.3);padding:55px 0 78px;position:relative}
.article-box .section-a:before {content:'';position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;border:1px solid #fff;border-radius:30px}
.section-a .section-a-title {text-align:center;font-size:40px;color:#fff;font-weight:100}
.section-a .section-a-title .txt-line {display:inline-block;position:relative}
.section-a .section-a-title .txt-line:after {content:'';position:absolute;left:0;right:0;height:3px;background-color:#534b3b;bottom:-20px}
.section-a .section-a-title .txt-line * {vertical-align:middle}
.section-a .section-a-title .t-bold {font-weight:700}
.section-a .section-a-title .blt-arrow-a {margin-left:16px}
.section-a .service-info {padding:90px 80px 0;display:flex;justify-content:space-between}
.section-a .service-info .service-item {flex:1;background:url("../../resources/images/main/box-light.png") no-repeat 100% 0 #22252c;border:1px solid #161616;border-radius:20px;padding:30px;box-shadow:5px 0 18px rgba(26,29,36,.6)}
.section-a .service-info .service-item ~ .service-item {margin-left:60px}
.section-a .service-item .txt-number {color:#fff;font-size:42px;font-weight:700;font-style:italic}
.section-a .service-item .txt-number span {display:inline-block;width:100px;position:relative}
.section-a .service-item .txt-number span:before {content:'';position:absolute;left:0;right:0;bottom:0;height:2px;background-color:#fff}
.section-a .service-item .service-title {font-size:24px;color:#ffbd3e;line-height:30px;font-weight:600;margin-top:18px}
.section-a .service-item .service-txt {font-size:16px;color:#fff;line-height:26px;font-weight:100;margin-top:12px}

.section-b {margin-top:80px}
.section-b .review-item:after,
.section-b .box-review:after {content:'';display:block;clear:both}
.section-b .review-area {width:calc((100% - 46px) / 2);float:left}
.section-b .review-area:nth-child(n+3) {margin-top:30px}
.section-b .review-area:nth-child(even) {float:right}
.section-b .review-area:nth-child(2n + 1) {clear:both}
.section-b .review-item {height:260px;padding:16px 94px 0 30px;background-color:#e2e2e2;position:relative;border-radius:20px;border:1px solid transparent}
.section-b .review-item .t-img {float:left;width:132px}
.section-b .review-item .review-summery {float:left;width:calc(100% - 132px)}
.section-b .review-item .txt-review {margin-top:10px;display:-webkit-box;-webkit-line-clamp:3;overflow:hidden;-webkit-box-orient:vertical;height:60px}
.section-b .hash-tag {padding-top:15px}
.section-b .hash-tag .tag-item {display:inline-block;height:34px;border-radius:17px;border:1px solid #946b3e;font-size:16px;color:#946b3e;line-height:32px;font-weight:400;padding:0 24px;margin-right:10px}
.section-b .star-area {margin-top:14px}
.box-star {background:url("../../resources/images/common/star-bg.png") no-repeat 0 0;width:146px;height:21px;display:inline-block;vertical-align:top}
.box-star .star-data {display:inline-block;height:21px;vertical-align:top;background:url("../../resources/images/common/star-data.png") no-repeat 0 0;}
.section-b .txt-review {font-size:14px;line-height:20px;color:#2c2d30;font-weight:400;word-break:keep-all}
.section-b .writer-data {margin-top:16px;border-top:1px solid #bebebe;padding-top:16px;font-size:14px;line-height:20px;color:#2c2d30;font-weight:400}
.section-b .review-detail {height:0;opacity:0;overflow:hidden;padding:0 80px 0 40px;background-color:#e2e2e2;border-radius:20px;position:relative;width:calc(200% + 46px);-webkit-transition:all .2s ease-out;transition:all .2s ease-out}
.section-b .review-area:nth-child(even) .review-detail {margin-left:calc(-100% - 46px)}
.section-b .box-review .btn-more {position:absolute;left:50%;bottom:-23px;width:46px;margin-left:-23px;height:46px;border-radius:50%;background-color:#494032}
.section-b .box-review .btn-more:before,
.section-b .box-review .btn-more:after {content:'';display:block;position:absolute;background-color:#fff;left:50%;top:50%}
.section-b .box-review .btn-more:before {width:20px;height:2px;margin:-1px 0 0 -10px}
.section-b .box-review .btn-more:after {width:2px;height:20px;margin:-10px 0 0 -1px}
.section-b .btn-review-close {position:absolute;top:30px;right:40px;width:36px;height:36px}
.section-b .btn-review-close:before,
.section-b .btn-review-close:after {content:'';display:block;position:absolute;background-color:#999a9b;left:50%;top:50%;width:3px;height:22px; margin-top:-12px;}
.section-b .btn-review-close:before {transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.section-b .btn-review-close:after {transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.section-b .review-area.active .review-item {border-color:#494032}
.section-b .review-area.active .btn-more {display:none}
.section-b .review-area.active .review-detail {height:auto;margin-top:30px;padding:36px 80px 36px 40px;opacity:1;}
.section-b .review-area.active .review-detail {height:auto;margin-top:30px;padding:36px 80px 36px 40px}
.section-b .more-area {position:relative;height:48px;max-width:1567px;background:url("../../resources/images/main/more_line.png") no-repeat 50% 0;margin:90px auto 0}
.section-b .more-area .btn-more {position:absolute;left:50%;top:-33px;width:66px;margin-left:-33px;height:66px;background:url("../../resources/images/main/btn-more.png") no-repeat 0 0}

.section-c {max-width:1500px;margin:80px auto 0;display:flex}
.section-c .banner-item {flex:1}
.section-c .banner-item ~ .banner-item {margin-left:40px}
.section-c .banner-item .link-banner {display:block}
.section-c .banner-item img {width:100%}

/* 리더소개 */
.leader-section-a {max-width:1500px;position:relative;margin:0 auto}
.leader-section-a .leader-box {max-width:1140px;border-radius:0 30px 30px;background-color:#fff;box-shadow:10px 0 10px rgba(0,0,0,.07);margin-bottom:20px}
.leader-section-a .leader-box:last-of-type {margin-bottom:40px}
.leader-section-a .leader-title {background:url("../../resources/images/teacher/title-bg.png") no-repeat 0 0;width:305px;height:72px}
.leader-section-a .leader-title .title-b {line-height:72px;color:#fff;padding-left:32px}
.leader-section-a .leader-content,
.leader-section-a .lesson-content {padding:30px 120px 60px 60px}
.leader-section-a .txt-remark {font-size:20px;line-height:40px;color:#292a2e;padding-left:12px;position:relative;word-break:keep-all}
.leader-section-a .txt-remark:before {content:'';position:absolute;left:0;top:18px;width:4px;height:4px;background-color:#292a2e;border-radius:50%}
.leader-section-a .lesson-content {display:flex;justify-content:space-between}
.leader-section-a .lesson-content .lesson-col {flex:1;max-width:50%;padding-right:20px}
.leader-section-a .lesson-content .lesson-col ~ .lesson-col {padding-right:0;padding-left:20px}
.leader-section-a .lesson-content .lesson-col-img {width:200px;text-align:center}
.leader-section-a .lesson-content .lesson-col-img img {max-width:100%;vertical-align:top}
.leader-section-a .lesson-content .lesson-item {padding-left:10px;font-size:18px;line-height:28px;color:#292a2e;position:relative;word-break:keep-all}
.leader-section-a .lesson-content .lesson-item:before {content:'';position:absolute;left:0;top:12px;width:4px;height:4px;background-color:#292a2e;border-radius:50%}
.leader-section-a .review-area {position:absolute;top:-50px;right:10px}
.leader-section-a .review-area .review-item {position:relative;width:360px;background-color:#36393f;border-radius:20px;border:1px solid #2b2b2b;box-shadow:5px 0 18px rgba(26,29,36,.47);padding:30px 26px;margin-bottom:20px}
.leader-section-a .review-area .review-item:nth-of-type(even) {margin-left:78px}
.leader-section-a .box-star .star-data {background-image:url("../../resources/images/common/star-data-b.png")}
.leader-section-a .review-area .txt-review {font-size:14px;line-height:20px;color:#dfdfdf;margin:20px 0;font-weight:200;display:-webkit-box;-webkit-line-clamp:4;overflow:hidden;-webkit-box-orient:vertical;max-height:80px;word-break:keep-all}
.leader-section-a .review-area .writer-data {border-top:1px solid #5e6165;padding-top:16px;font-size:14px;color:#dfdfdf;font-weight:200}
.leader-section-a .review-area .writer-data .writer-id {padding-right:4px}
.leader-section-a .review-area .link-more {position:absolute;right:26px;bottom:24px;width:29px;height:29px}
.leader-section-a .review-area .link-more:before,
.leader-section-a .review-area .link-more:after {content:'';position:absolute;background-color:#fff}
.leader-section-a .review-area .link-more:before {width:29px;height:1px;left:0;top:50%}
.leader-section-a .review-area .link-more:after {width:1px;height:29px;left:50%;top:0}

.leader-section-b {background:url("../../resources/images/teacher/wave_bg_a.png") no-repeat 50% 100%;position:relative;height:600px}
.leader-section-b:after {content:'';position:absolute;left:0;right:0;bottom:0;background:url("../../resources/images/teacher/wave_bg_b.png") no-repeat 50% 0;height:336px}
.extension-active {max-width:1500px;margin:0 auto;position:relative;padding-left:540px}
.extension-active .leader-img {position:absolute;top:0;left:0}
.extension-active .active-detail {padding-top:100px}
.extension-active .active-detail .active-title {border-bottom:1px solid #d8d8d8;font-size:42px;color:#000;font-weight:500;padding-bottom:10px}
.extension-active .active-detail .active-title .leader-name {font-size:28px;padding-left:4px}
.extension-active .active-detail .extension-detail {border-bottom:1px solid #d8d8d8;padding:26px 0;display:flex;justify-content:space-between}
.extension-detail .extension-title {width:194px;font-size:26px;color:#fff;letter-spacing:-.5px;display:flex;align-items:center;justify-content:center;background-color:#36383f;border-radius:20px}
.extension-detail .extension-list {width:calc(100% - 242px)}
.extension-detail .extension-list:after {clear:both;display:block;content:''}
.extension-detail .extension-list .extension-item {float:left;width:50%;padding:0 8px;word-break:keep-all;font-size:18px;line-height:28px;color:#292a2e;position:relative}
.extension-detail .extension-list .extension-item:before {content:'';display:block;position:absolute;left:0;top:12px;width:4px;height:4px;border-radius:50%;background-color:#292a2e}

.leader-section-c {background-image:-moz-linear-gradient(90deg, #e3ae47 0%, #d89d36 100%);background-image:-webkit-linear-gradient(90deg, #e3ae47 0%, #d89d36 100%);background-image:-ms-linear-gradient(90deg, #e3ae47 0%, #d89d36 100%);}
.leader-section-c .title-a {color:#fff;position:relative;top:-85px;max-width:1500px;margin:0 auto -40px}
.leader-section-c .box-review {max-width:1500px;margin:0 auto}
.leader-section-c .box-review:after {content:'';display:block;clear:both}
.leader-section-c .review-area {float:left;width:calc((100% - 60px) / 3);margin-left:30px}
.leader-section-c .review-area:nth-of-type(3n+1) {margin-left:0;clear:both}
.leader-section-c .review-area:nth-of-type(n+4) {margin-top:20px}
.leader-section-c .review-area .review-item {background-color:#fff;height:164px;border-radius:20px;border:1px solid transparent;box-shadow:5px 0 18px rgba(0,0,0,.15);padding:24px 24px 0;position:relative}
.leader-section-c .review-area .review-item .btn-more {position:absolute;top:0;height:100%;width:100%}
.leader-section-c .review-area .writer-data .writer-id {font-size:18px;color:#292a2e;font-weight:500;padding-right:20px}
.leader-section-c .review-area .writer-data .write-day {font-size:18px;color:#292a2e;font-weight:300;padding-right:14px}
.leader-section-c .review-area .writer-data .box-star .star-data {background-image:url("../../resources/images/common/star-data-b.png")}
.leader-section-c .review-area .review-item .txt-review {margin-top:10px;display:-webkit-box;-webkit-line-clamp:3;overflow:hidden;-webkit-box-orient:vertical;height:72px}
.leader-section-c .review-area .txt-review {font-size:18px;line-height:24px;word-break:keep-all}
.leader-section-c .review-detail {height:0;overflow:hidden;background-color:#fff;border-radius:20px;position:relative;width:calc(300% + 60px);-webkit-transition:all .2s ease-out;transition:all .2s ease-out;opacity:0}
.leader-section-c .review-area:nth-of-type(3n+2) .review-detail {margin-left:calc(-100% - 30px)}
.leader-section-c .review-area:nth-of-type(3n) .review-detail {margin-left:calc(-200% - 60px)}
.leader-section-c .review-area.active .review-item {border-color:#946b3e;background-color:rgba(255,255,255,.8)}
.leader-section-c .review-area.active .btn-more {display:none}
.leader-section-c .review-area.active .review-detail {height:auto;margin-top:20px;padding:30px 70px 30px 30px;opacity:1}
.leader-section-c .btn-review-close {position:absolute;top:26px;right:30px;width:26px;height:26px}
.leader-section-c .btn-review-close:before,
.leader-section-c .btn-review-close:after {content:'';display:block;position:absolute;background-color:#999a9b;left:50%;top:50%;width:3px;height:22px;margin-top:-11px}
.leader-section-c .btn-review-close:before {transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.leader-section-c .btn-review-close:after {transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.leader-section-c .more-area {position:relative;height:48px;max-width:1567px;background:url("../../resources/images/teacher/more_line.png") no-repeat 50% 0;margin:80px auto 0}
.leader-section-c .more-area .btn-more {position:absolute;left:50%;top:-23px;width:46px;margin-left:-23px;height:46px;border-radius:50%;background-color:#494032}
.leader-section-c .more-area .btn-more:before,
.leader-section-c .more-area .btn-more:after {content:'';display:block;position:absolute;background-color:#fff;left:50%;top:50%}
.leader-section-c .more-area .btn-more:before {width:20px;height:2px;margin:-1px 0 0 -10px}
.leader-section-c .more-area .btn-more:after {width:2px;height:20px;margin:-10px 0 0 -1px}