@charset "utf-8";

/* 메인 */
.teacher-group {height:1580px; position:relative;}
.teacher-group h2 {display:block;margin:0 auto;max-width:1640px;margin:0 auto;padding:55px 20px 20px;text-align:center;color:#dfdfdf;font-size:60px;font-weight:100;}
.teacher-group h2 strong {color:#2b2e34;font-weight:100;background-color:#ffcd6c;}
.teacher-group .logo-text {color:#f8d057;}
.teacher-group .logo-text b {font-weight:500;}

.teacher-menu{position: relative;width:100%;}
.teacher-menu .btn-dep-1{position:absolute; top:0; left:0;}

.teacher-menu .dep-2{width:1000px; margin:0 auto; text-align:center;}
.teacher-menu .dep-2 button{display:inline-block; border:2px solid #c7941a; background: linear-gradient(-45deg, #a27623,#ae7f2d 40%, #f5c75f, #e6b352); color:#fff; height:80px; border-radius:40px; padding:10px 60px; font-size:30px; font-family: SCD; font-weight: 600; text-shadow:0 1px 4px rgba(137,100,37,1);box-shadow:10px 0 10px rgba(0,0,0,.6); margin-bottom:30px}
.teacher-menu .dep-2 button:hover,
.teacher-menu .dep-2 button:focus{background: linear-gradient(-45deg, #633f00,#674100 40%, #a46d00, #925f00); border-color:#80590d;}
.teacher-menu .dep-2 button + button{margin-left:30px;}

.teacher-swiper{width:100%;max-width:1380px;margin:0 auto;padding:0;}
.teacher-item {position:relative; width:285px;height:307px;border-radius:30px;border-bottom-left-radius:0;box-shadow:10px 10px 30px rgba(0,0,0,.3);background: linear-gradient(#fff, #ddd7d0); margin:100px auto 50px}
.teacher-item .photo{position:absolute; bottom:110px; left:0;}
.teacher-item .info{position:relative; padding:100px 25px 0; z-index: 1; font-size:16px; color:#000; line-height:1.3;}
.teacher-item .info dt{font-weight:600; font-size:30px; color:#000; text-align: right; padding:0 0 20px;}
.teacher-item .btn{display:inline-block; background-color:#292a2e; color:#fff; height:43px; border-radius:22px; padding:10px 28px; font-size:16px;}
.teacher-item .btn-area{width:100%; position:absolute; bottom:0; left:0; padding:15px 0 30px; text-align:center; }


.article-box {max-width:1500px;margin:0 auto}
.article-box .section-a {margin:0 24px;border-radius:30px;background-color:#2e3036;box-shadow:0 -5px 10px rgba(0,0,0,.3);padding:55px 0 78px;position:relative}
.article-box .section-a:before {content:'';position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;border:1px solid #fff;border-radius:30px}
.section-a .section-a-title {text-align:center;font-size:40px;color:#fff;font-weight:100}
.section-a .section-a-title .txt-line {display:inline-block;position:relative}
.section-a .section-a-title .txt-line:after {content:'';position:absolute;left:0;right:0;height:3px;background-color:#534b3b;bottom:-20px}
.section-a .section-a-title .txt-line * {vertical-align:middle}
.section-a .section-a-title .t-bold {font-weight:700}
.section-a .section-a-title .blt-arrow-a {margin-left:16px}
.section-a .service-info {padding:90px 80px 0;display:flex;justify-content:space-between}
.section-a .service-info .service-item {flex:1;background:url("../../resources/images/main/box-light.png") no-repeat 100% 0 #22252c;border:1px solid #161616;border-radius:20px;padding:30px;box-shadow:5px 0 18px rgba(26,29,36,.6)}
.section-a .service-info .service-item ~ .service-item {margin-left:60px}
.section-a .service-item .txt-number {color:#fff;font-size:42px;font-weight:700;font-style:italic}
.section-a .service-item .txt-number span {display:inline-block;width:100px;position:relative}
.section-a .service-item .txt-number span:before {content:'';position:absolute;left:0;right:0;bottom:0;height:2px;background-color:#fff}
.section-a .service-item .service-title {font-size:24px;color:#ffbd3e;line-height:30px;font-weight:600;margin-top:18px}
.section-a .service-item .service-txt {font-size:16px;color:#fff;line-height:26px;font-weight:100;margin-top:12px}