@charset "utf-8";

@media (max-width:1500px) {

}
@media (max-width:1400px) {
    body {background-size:cover;}
    .base-wrap{padding-top:55px;}
    .base-header {padding:20px 20px 15px;}
    .logo-tera {display:block;float:left; width:81px; }
    .logo-tera img{width:100%; display: block;}

    .ui-modal.type-premium .ui-modal-header img{width:81px;}
    .ui-modal.type-premium .ui-modal-header .logo{top:25px; left:20px;}
    .ui-modal .btn-close{left:auto; right:10px; margin-left:0; top:5px; transform: scale(0.6) rotate(45deg);}

    .ui-modal.type-premium .ui-modal-cont{padding:60px 0 50px;}
    .ui-modal.type-premium .tit h2{font-size:30px}

    .goldkey{position: absolute; top:20px; left:-15px; z-index: 100; width:45px; }
    .goldkey .key-line{display:block; position: absolute; top:0; left:27px; height:50px;}
    .goldkey .key-line img{height:100%;}
    .goldkey .key{top:50px; left:18px; width:22px; height:34px; background-size: cover;}

    .util-menu > a {width:30px;height:30px;border:1px solid #fff;border-radius:50%;background:url(../../resources/images/common/ico-header.png) no-repeat -3.5px -5px / 70px;}
    .util-menu .util-n2 {background-position:-38.5px -5px;}
    .util-menu > a + a {margin-left:5px;}

    .teacher-group {height:auto; margin-bottom:200px;margin-top:0}
    .teacher-group h2 {padding:0 20px;font-size:40px;}

    .teacher-menu{min-height:140px;}
    .teacher-menu .dep-1 li::before{ left:0; width:30px; }
    .teacher-menu .btn-dep-1{position:absolute; left:0; font-size:18px;  height:40px; margin-left:0;padding-left:35px;}
    .teacher-menu .on .btn-dep-1{font-size:20px; opacity:1; padding-left:75px;}
    .teacher-menu .on .btn-dep-1::after{left:30px;}
    .teacher-menu .btn-dep-1::after{ width:34px; height:27px; top:5px; left:-34px;}
    .teacher-menu .n1 .btn-dep-1{top:30px;}
    .teacher-menu .n2 .btn-dep-1{top:80px;}
    .teacher-menu .n3 .btn-dep-1{top:130px;}
    .teacher-menu .dep-1 .n1::before{top:50px;}
    .teacher-menu .dep-1 .n2::before{top:100px;}
    .teacher-menu .dep-1 .n3::before{top:150px;}

    .teacher-menu .dep-2{width:100%; padding-left:150px; padding-right:50px;}
    .teacher-menu .dep-2 button{height:40px; border-radius:20px; padding:5px 20px 6px; font-size:16px; margin:0 6px 10px}

    .teacher-list{margin:0 auto;padding:10px 80px 0; background-size:94%;}
    .teacher-item {position:relative; width:200px;height:250px;border-radius:20px;border-bottom-left-radius:0;box-shadow:6px 6px 20px rgba(0,0,0,.3);background: linear-gradient(#fff, #ddd7d0); margin:50px auto 20px}
    .teacher-item .photo{bottom:110px; height:180px;}
    .teacher-item .photo img{width:100%;}
    .teacher-item .info{ padding:80px 25px 0; z-index: 1; font-size:14px;}
    .teacher-item .info dt{font-size:18px; padding:0 0 10px;}
    .teacher-item .info dd{text-align: left; font-size:14px;}
    .teacher-item .btn{display:inline-block; background-color:#292a2e; color:#fff; height:43px; border-radius:22px; padding:10px 28px; font-size:16px;}
    .teacher-item .btn-area{width:100%; position:absolute; bottom:0; left:0; padding:10px 0 20px; text-align:center; }
    .ico-matching{display:block; width:33px; height:33px; background: url(../../resources/images/common/ico-matching.png) no-repeat 0 0 / cover; position:absolute; top:0; right:20px;}

    .teacher-list .slick-prev{width:34px; height:34px; background: url(../../resources/images/common/arrow-swiper.png) no-repeat 0 0 / cover; left:-20px; position: absolute; top:50%; z-index: 2;}
    .teacher-list .slick-next{width:34px; height:34px; background: url(../../resources/images/common/arrow-swiper.png) no-repeat 0 0 /cover; transform: rotate(180deg); right:-20px; position: absolute; top:50%; z-index: 2;}

    .btn-area.line{margin-top:10px;}

    .leader-info{margin:0 auto 370px;}
    .leader-info .photo{position: static;float:right; max-width: 100%; width:auto; height:280px; margin:-40px 0 40px;}



    .leader-info .group{position: relative;  padding:60px 10px 0 70px;}
    .leader-info .group h2{font-size:60px;font-weight:100;color:#fff; line-height:1.1;overflow: hidden;}
    .leader-info .group h2 span{opacity:0.3;display:block; width:100%;}
    .leader-info .group em{margin-top:5px; float:left; font-size:30px; border-bottom:1px solid #fff28c;  padding-bottom:10px}
    .leader-info .group p{font-size:18px; font-weight:500; color:#fff; line-height: 1.2; margin-top:20px;}


    .leader-info .tag {margin-top:30px; max-width:100%; }
    .leader-info .tag span{display:inline-block;height:30px;border-radius:15px;border:1px solid #848484;font-size:16px;font-weight:600;color:#848484;line-height:28px;padding:0 14px;margin:0 5px 10px 0;}

    .leader-info .chara{position:relative; margin:30px auto 30px; width:100%; max-width:1500px; overflow:hidden; display:flex; justify-content:center}
    .leader-info .chara .line{display:block; flex:1; max-width:40px; min-width:40px;  width:100%; height:6px; background: url(../../resources/images/common/line-dot.png) repeat-x 0 0;margin:35px 15px 0;}

    .leader-info .chara-item{flex:0; text-align: center; width:80px; min-width:80px; position: relative; z-index: 1;}

    .leader-info .chara-item .ico-img{display:inline-block; width:75px; height:75px; margin-bottom:0;}
    .leader-info .chara-item .ico-img img{width:100%;}
    .leader-info .chara-item .txt{font-size:14px;}

    .leader-info .btn-gold::before{background-size:cover; width:100px; height:100px; top:-30px; left:-42px;}
}
@media (max-width:1340px) {
    /* 메인 */
    .footer-area {padding:290px 24px 0}

    /* 리더소개 */
    .extension-active {padding-left:520px}
    .extension-detail .extension-title {width:160px}
    .extension-detail .extension-list {width:calc(100% - 180px)}

    .leader-section-c {padding:0 24px}
}
@media (max-width:1280px) {
    /* 메인 */
    .section-a .service-info .service-item ~ .service-item {margin-left:30px}
    .section-a .service-item .service-txt {word-break:keep-all}
    .section-a .service-item .service-txt br {display:none;word-break:keep-all}
    .section-c,
    .section-b {margin:80px 24px 0}

    .footer-content {padding-left:210px}

    /* 리더소개 */
    .extension-active .active-detail .active-title {font-size:36px}
    .extension-active .active-detail .active-title .leader-name {font-size:24px;display:inline-block}
    .extension-detail .extension-list .extension-item {float:none;width:100%}
    .extension-detail .extension-list .extension-item br {display:none}

    .leader-section-c .review-area .writer-data .writer-id,
    .leader-section-c .review-area .writer-data .write-day {font-size:16px}
    .leader-section-c .review-area .txt-review {font-size:16px}
    .leader-section-c .review-area .box-star {display:block;margin-top:8px}
    .leader-section-c .review-area .review-item {height:186px}

}
@media (max-width:1100px) {
    /* 메인 */
    .article-box .section-a {padding:40px 0 50px}
    .section-a .section-a-title {font-size:32px}
    .section-a .service-item .txt-number {font-size:32px}
    .section-a .service-item .txt-number span {width:80px}
    .section-a .service-item .service-title {font-size:18px;line-height:26px}
    .section-a .service-item .service-txt {font-size:14px;word-break:keep-all}
    .section-a .service-item .service-txt br {display:none}
    .section-a .service-info {padding:60px 50px 0}

    .section-b .hash-tag .tag-item {padding:0 12px;height:28px;border-radius:14px;font-size:14px;line-height:26px;margin-right:4px}

    .footer-content {padding-left:0}
    .footer-content .footer-logo {top:-60px}

    /* 리더소개 */
    .leader-section-b {padding:0 24px;height:500px}
    .extension-active .leader-img {width:360px}
    .extension-active .leader-img img {width:100%}
    .extension-active {padding-left:400px}

    /* side nav */
    .btn-top,
    .btn-kakao {width:44px;height:45px}

}
@media (max-width:1000px) {
    /* 메인 */
    .section-a .service-info {display:block}
    .section-a .service-info .service-item ~ .service-item {margin:30px 0 0 0}
    .section-a .section-a-title {font-size:28px;padding:0 20px}
    .section-a .section-a-title .t-bold {display:inline-block}
    .section-a .section-a-title .blt-arrow-a {display:none}
    .section-a .service-item .service-title {word-break:keep-all}
    .section-a .service-item .service-title br {display:none}
    .section-a .service-item .txt-number {font-size:24px}
    .section-a .service-item .txt-number span {width:60px}
    .section-b, .section-c {margin-top:40px}
    .section-c .banner-item ~ .banner-item {margin-left:20px}
    .section-b .review-area {width:100%;float:none !important;}
    .section-b .review-area:nth-child(n+2) {margin-top:30px}
    .section-b .review-detail {width:100%}
    .section-b .review-area.active .review-detail {margin-top:10px}
    .section-b .review-area:nth-child(even) .review-detail {margin-left:0}

    .base-footer {height:auto}
    .footer-area {padding-bottom:40px}

    /* 리더소개 */
    .leader-section-a {margin:0 24px}
    .leader-section-a .review-area {display:none}
    .leader-section-a .leader-box {max-width:100%}
    .leader-section-a .leader-content,
    .leader-section-a .lesson-content {padding-right:60px}

    .leader-section-b {height:auto;min-height:400px}
    .extension-active .active-detail {padding-top:30px}
    .extension-active {padding-left:340px}
    .extension-active .leader-img {width:300px}
    .extension-active .active-detail .extension-detail {flex-direction:column;border-bottom:0}
    .extension-detail .extension-title {font-size:20px;height:40px;margin-bottom:10px}
    .extension-active .active-detail .active-title {line-height:32px;font-size:32px}
    .extension-active .active-detail .active-title .leader-name {font-size:20px}
    .extension-detail .extension-list {width:100%}
    .leader-section-c .title-a {font-size:40px;top:-40px;margin-bottom:-20px}
}
@media (max-width:910px) {
    /* 메인 */
    .base-footer {background:none;}
    .base-footer:before {content:'';height:120px;width:100%;display:block;background:url("../../resources/images/common/footer_bg_c.png") no-repeat 50% 100%}
    .footer-area {background-color:#292a2e;padding:50px 24px 40px}
    .footer-content .footer-logo {position:static;margin-bottom:20px}

    /* 리더소개 */
    .extension-active .leader-img {display:none}
    .extension-active {padding-left:0}
    .extension-active .active-detail {padding-bottom:120px}
    .extension-detail .extension-list .extension-item {font-size:16px}
}
@media (max-width:767px) {
    /* 메인 */
    .article-box .section-a {padding:40px 0 24px}
    .section-a .section-a-title {font-size:22px;word-break:keep-all}
    .section-a .service-info {padding:50px 24px 0}
    .section-a .service-info .service-item {padding:24px}
    .section-a .service-item .service-title {font-size:16px}
    .section-a .service-info .service-item ~ .service-item {margin-top:16px}
    .section-b .review-item .t-img {width:60px}
    .section-b .review-item .t-img img {width:52px}
    .section-b .review-item .review-summery {width:calc(100% - 60px)}
    .section-b .review-item {padding-right:30px}
    .section-b .hash-tag .tag-item {font-size:13px;padding:0 10px}
    .section-b .review-area.active .review-detail {padding:30px 50px 30px 30px}
    .section-b .btn-review-close {right:16px;top:26px}
    .section-b .more-area {margin-top:60px}
    .section-b .box-review .btn-more {width:36px;height:36px;margin-left:-18px;bottom:-18px}
    .section-b .box-review .btn-more:after {height:16px;margin-top:-8px}
    .section-b .box-review .btn-more:before {width:16px;margin-left:-8px}
    .section-b .more-area .btn-more {width:48px;height:48px;background-size:100%;top:-24px;margin-left:-24px}
    .section-c {display:block}
    .section-c .banner-item ~ .banner-item {margin:20px 0 0 0}

    .footer-content .footer-logo {width:122px;height:24px;background-size:100%}
    .footer-content .footer-nav .footer-nav-item .link-footer {font-size:13px;padding-right:10px}
    .footer-content .footer-nav .footer-nav-item ~ .footer-nav-item .link-footer {padding-left:10px}
    .footer-content .footer-copy {font-size:12px;line-height:20px}
    .footer-content .footer-copy .txt-center {font-size:14px}
    .footer-content .footer-copy .copy-item:after {display:none}

    /* 리더소개 */
    .leader-section-a .leader-content, .leader-section-a .lesson-content {padding:30px}
    .leader-section-a .txt-remark {font-size:16px;line-height:24px}
    .leader-section-a .txt-remark:before {top:10px}
    .leader-section-a .leader-title {height:50px;width:220px;background-position:100% 0}
    .leader-section-a .leader-title .title-b {font-size:24px;line-height:50px}
    .leader-section-a .lesson-content {display:block}
    .leader-section-a .lesson-content .lesson-col {max-width:100%;padding-right:0;padding-bottom:10px}
    .leader-section-a .lesson-content .lesson-item {font-size:16px;line-height:24px}
    .leader-section-a .lesson-content .lesson-item:before {top:10px}
    .leader-section-a .lesson-content .lesson-col ~ .lesson-col {padding-left:0;padding-top:10px}
    .leader-section-a .lesson-content .lesson-col-img {width:100%}

    .extension-active .active-detail .active-title {font-size:24px}
    .extension-active .active-detail .active-title .leader-name {font-size:16px}
    .extension-detail .extension-title {font-size:16px;height:32px}
    .extension-detail .extension-list .extension-item {font-size:14px}

    .leader-section-c .title-a {font-size:28px;top:0;margin-bottom:12px}
    .leader-section-c .review-area {float:none !important;width:100%;margin-left:0}
    .leader-section-c .review-area:nth-of-type(n+2) {margin-top:12px}
    .leader-section-c .review-detail {width:100%}
    .leader-section-c .review-area .review-detail {margin-left:0 !important;margin-top:8px}
    .leader-section-c .review-area.active .review-detail {padding-right:44px;}
    .leader-section-c .btn-review-close {right:16px}

    .teacher-group h2 {padding:10px 20px 10px;font-size:20px;}
    .teacher-menu{min-height:160px;}
    .teacher-menu .dep-1 li::before{ left:0; width:30px; }
    .teacher-menu .btn-dep-1{position:absolute; left:0; font-size:18px;  height:40px; margin-left:0;padding-left:35px;}
    .teacher-menu .on .btn-dep-1{font-size:20px; opacity:1; padding-left:75px;}
    .teacher-menu .n2.on .btn-dep-1{font-size:20px; opacity:1; padding-right:75px;}
    .teacher-menu .on .btn-dep-1::after{left:30px;}
    .teacher-menu .btn-dep-1::after{ width:34px; height:27px; top:5px; left:-34px;}
    .teacher-menu .n2 .btn-dep-1::after{left:auto; right:-34px; transform: scaleX(-1);}
    .teacher-menu .n2.on .btn-dep-1::after{right:30px;}
    .teacher-menu .n1 .btn-dep-1{top:10px;}
    .teacher-menu .n2 .btn-dep-1{top:10px; left:auto; right:0; padding-left:0; padding-right:35px;}
    .teacher-menu .n3 .btn-dep-1{top:130px;}
    .teacher-menu .dep-1 .n1::before{top:30px;}
    .teacher-menu .dep-1 .n2::before{top:30px; left:auto; right:0}
    .teacher-menu .dep-1 .n3::before{top:150px;}

    .teacher-menu .dep-2{width:100%; padding:70px 20px 10px;}
    .teacher-menu .dep-2 button{height:34px; border-radius:17px; padding:5px 10px 6px; font-size:14px; margin:0 6px 10px}
    .teacher-list{padding:10px 40px 0}
    .btn-gold.type-more {width:40%;}

    /* side nav */
    .side-nav {right:12px;bottom:20px}
    .side-nav .btn-kakao {margin-top:8px}
}